{% extends "sellerBase.html" %}
{% load static %}

{% block extralinks %}
{% comment %} yet to be done {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <style>
    input, select{
        height: 3rem;
    }
    {% comment %} for shifting header to left {% endcomment %}
    .left-shift{
        margin-left:-23px;
    }
    .up-shift{
        margin-top:-20px;
    }
  </style>
{% endblock extralinks %}

{% block content %}
<div class="page-heading mt-0">
  <h3 style="text-align: center; position: relative;">Add Category
      <a href="{% url "categories_details" %}" style="position: absolute; top: -40%; right: 0;" ><button class="page_change fs-6 btn" role="button"><i class="fa-solid fa-search"></i>&nbsp;Records&nbsp;</button></a>
  </h3>
</div>

<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h4 class="card-title">Category Information</h4>
          <div><b class="text-danger" >Note</b><span class="font-bold"> :- All asterisk (*) field is mandatory.</span></div>
        </div>
        <div class="card-content up-shift">
          <div class="card-body">
              <form class="form" action="{% url "add_categories" %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_id">Category Id<font class="text-danger"> *</font></label>
                          <input  readonly  type="text" id="category_id"  class="form-control"
                              placeholder="Category Id" name="category_id" value="{{category_id}}" >
                      </div>
                  </div>

                  <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_name">Category Name<font class="text-danger"> *</font></label>
                          <input placeholder="Category Name"   type="text" id="category_name" class="form-control" name="category_name">
                          <span id="span" class="text-danger"></span>
                      </div>
                  </div>
                  <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_slug">Category Slug<font class="text-danger"> *</font></label>
                          <input   type="text" id="category_slug" class="form-control" name="category_slug" placeholder="Category Slug" readonly>
                      </div>
                  </div>
                  <div class="col-md-4 col-12 mt-3">
                    <div class="form-group">
                        <label for="category_photo">Category Photo</label>
                        <input   type="file" name="category_photo" class="form-control" id="category_photo" accept="image/*">
                    </div>
                </div>

                  <div class="col-md-8 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_description">Category Description<font class="text-danger"> *</font></label>
                          <textarea name="category_description"  id="category_description" class="form-control" row="5" placeholder="Category Description"></textarea>
                      </div>
                  </div>
                  

      
                </div>
  
                    <div class="col-12 d-flex gap-4 justify-content-center mb-3 mt-3">
                        <button type="submit"
                            class="btn btn-success me-1 mb-1 mt-3"><i class="fa-solid fa-check"></i> &nbsp;Submit</button>
                        <button type="reset"
                            class="btn btn-light-secondary me-1 mb-1 mt-3"><i class="fa-solid fa-rotate"></i> &nbsp;Reset</button>
                    </div>
        

              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $("#category_name").on("keyup",function(){
      category_name = $("#category_name").val();
            $.ajax({
                url: "{% url 'add_categories' %}",  
                type: "GET",
                data: {
                    category_name: category_name,
                },
                success: function(response) {
                    if(response.status == 'found'){
                        $("#category_name").closest('.form-group').find('span').text(response.message);
                    }else{
                        $("#category_name").closest('.form-group').find('span').text("");
                    }
                },
                error: function(xhr) {
                    $('#response').html('An error occurred: ' + xhr.responseText);
                }
            });
    });

    $("form").on("submit",function(e){
        span = $("#span").text()
        if((span != '')){
            Swal.fire({
                icon: 'error',
                title: 'Category Name Already Exists',
                showConfirmButton: true,
                confirmButtonClass: 'btn btn-success'
            });
            return false;
        }
    })

})
</script>

<script>
  $(document).ready(function(){
    category_id =  $("#category_id").val();
    $("#category_name").on("keyup",function(){
      cat_val =  $("#category_name").val()
      newValue = cat_val.replace(/'/g, '')         // Remove apostrophes
      .toLowerCase()             // Convert to lowercase
      .replace(/\s+/g, '-')      // Replace spaces with hyphens
      .replace(/[^a-z0-9-]/g, '') + "-" + category_id;
      $("#category_slug").val(newValue)
    })
  })
</script>



{% endblock %}