{% extends "sellerBase.html" %}
{% load static %}

{% block extralinks %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static "js/address_entry.js" %}"></script>
  <style>
    input, select{
        height: 3rem;
    }
    /* for shifting header to left  */
    .left-shift{
        margin-left:-23px;
    }
    .up-shift{
        margin-top:-20px;
    }
  
  
  </style>
{% endblock extralinks %}

{% block content %}
<div class="page-heading mt-0">
  <h3 style="text-align: center; position: relative;">Categories Details 
      <a href="{% url "add_categories" %}" style="position: absolute; top: -40%; right: 0;" ><button class="page_change fs-6 btn" role="button"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add New</button></a>
  </h3>
</div>

<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Categories Information</h4>
        </div>
        <div class="card-content up-shift">
          <div class="card-body">
              <form class="form" id="myForm" action="{% url 'categories_details' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_id" class="form-label">Category Id</label>
                          <select name="category_id" id="category_id" class="form-select">
                            <option value="">-- Select Category Id --</option>
                            {% for x in categories %}
                            <option value="{{x.category_id}}">{{x.category_id}}</option>
                            {% endfor %}
                          </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="category_name" class="form-label">Category Name</label>
                          <select name="category_name" id="category_name" class="form-select">
                            <option value="">-- Select Category Name --</option>
                            {% for x in categories %}
                            <option value="{{x.category_name}}">{{x.category_name}}</option>
                            {% endfor %}
                          </select>
                      </div>
                  </div>

                    <div class="col-md-4 col-12 mt-3">
                      <div class="form-group">
                          <label for="sort_by" class="form-label">Sort By</label>
                          <select name="sort_by" id="sort_by" class="form-select">
                            {% comment %} <option value="">-- Select Sort By --</option> {% endcomment %}
                            <option value="category_id" selected>Category Id</option>
                            <option value="category_name">Category Name</option>
                          </select>
                      </div>
                  </div>

                

                  <div class="col-md-12 col-12 mt-3">
                    <div class="col-12 d-flex gap-4 justify-content-center mb-0" style="margin-top:20px;">
                      <button type="submit"
                          class="btn btn-success me-1 mb-1 mt-3"><i class="fa-solid fa-search"></i> &nbsp;Search</button>
                      <button type="reset"
                          class="btn btn-light-secondary me-1 mb-1 mt-3"><i class="fa-solid fa-rotate"></i> &nbsp;Reset</button>
                  </div>
                </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="me-1 mb-1 d-inline-block">
  <!-- Button trigger for Extra Large  modal -->
  <button type="button" id="view_details" class="btn btn-outline-warning d-none" data-bs-toggle="modal"
      data-bs-target="#xlarge">
      Extra Large Modal
  </button>

  <!--Extra Large Modal -->
  <div class="modal fade text-left w-100" id="xlarge" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel16" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
          role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel16">Privilege Details</h4>
                  <button type="button" class="close" data-bs-dismiss="modal"
                      aria-label="Close" style="background-color:#e6eaee;">
                      <i class="fa-solid fa-close"></i>
                  </button>
              </div>
              <div class="modal-body">
                 
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary"
                      data-bs-dismiss="modal">
                      <i class="bx bx-x d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Close</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="section" >
  <div class="card">
    <div class="text-end pt-3 d-flex justify-content-between px-4">
      <div class="total_page fw-bold">Total Pages</div>
      <div><i class="fa-solid fa-filter fa-xl" style="color: #000; cursor:pointer;"></i></div>
    </div>
    <div class="card-body overflow-auto" id="html_data">
          <div class="alert alert-info fs-5 rounded font-bold" >
              Search To See The Records !
          </div>
    </div>
    <div class="d-flex justify-content-between align-items-end align-self-end m-3 pe-3">
      <div id="pagination-controls"></div>
  </div>
  </div>

</section>





<script>
  function Delete(e) { 
    swal.fire({
            title: 'Are you sure?',
            text: 'Do You Want To Delete This Record ?',
            icon: 'question',
            confirmButtonColor: 'rgb(66 215 9)',
            confirmButtonText: '✔ Yes, Delete',
            showCancelButton: true,
            cancelButtonText: "✖ No, Keep It",
            cancelButtonColor: "rgb(215 9 9)",
        }).then((res) => {
            if (res.isConfirmed) {
                window.location.href = e
                $('.loder').removeAttr('hidden');
            }
        });
 }
</script>



<script>
  

  $(document).ready(function () {
      $('#myForm').on('submit',function (e) {
        e.preventDefault(); 
        let page = $(this).data('page') || 1;
          $.ajax({
              type: "POST",
              url: "{% url 'categories_details' %}",
              data: $(this).serialize() +"&page=" +page ,
              success: function (response) {
              if(response.status === true){
                $("#search_table").removeClass("d-none");
                $("#html_data").html(response.html_part)
                updatePagination(response)
              }else{
                $("#search_table").addClass("d-none");
                $("#html_data").html(response.html_part)
                Swal.fire({
                  icon: response.tags,
                  title: response.message,
                  showConfirmButton: true,
                  confirmButtonClass: 'btn btn-success'
              });
              }
              },
              error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
                Swal.fire({
                    icon: 'error',
                    title: 'Something went wrong!',
                    text: 'Please try again later.',
                    showConfirmButton: true,
                    confirmButtonClass: 'btn btn-danger'
                });
            }
          });
      });

      function updatePagination(response){
        let paginationControls = '';
        $(".total_page").text('Total Page/s :- '  + response.total_pages)
        if(response.has_previous){
          paginationControls += `<button class='prev-button btn btn-primary' data-page="${response.current_page -1 }">Prev</button>`;
        }
        if(response.has_next){
          paginationControls += `<button class='next-button btn btn-success' data-page="${response.current_page + 1 }">Next</button>`;
        }
        $("#pagination-controls").html(paginationControls);
      }

      $(document).on("click",".prev-button, .next-button",function(){
        let page = $(this).data('page');
        $("#myForm").data("page",page);
        $("#myForm").submit();
      });

  });



  {% comment %} view the details on models {% endcomment %}
  $(document).on('click', '.view', function() {
    category_id = $(this).closest('tr').find('#category_id').text();
    $('.loder').removeAttr('hidden');
    $.ajax({
        type: "get",
        data: {'what':'view_category','category_id':category_id},
        success: function (response) {
          $('.modal-body').html(response.view_html);  
          $('#view_details').click();
        }
    });
    $('#view_details').click();
    $('.loder').attr('hidden','hidden');
});



{% comment %} change the status {% endcomment %}
  $(document).on('click', '.fa-user', function() {
    category_id = $(this).closest('tr').find('#category_id').text();
    let statusButton = $(this).closest('tr').find('#statusButton'); 
    let icon = $(this);
    swal.fire({
      title: 'Are you sure?',
      text: 'Do You Want To Change the Status ?',
      icon: 'question',
      confirmButtonColor: 'rgb(66 215 9)',
      confirmButtonText: '✔ Yes, Change',
      showCancelButton: true,
      cancelButtonText: "✖ No, Keep It",
      cancelButtonColor: "rgb(215 9 9)",
  }).then((res) => {
    if (res.isConfirmed) {
      $.ajax({
        type: "get",
        data: {'what':'changeStatus','category_id':category_id},
        success: function (response) {
          if(response.message.toLowerCase().includes("inactive")){
            statusButton.text("Inactive")
            statusButton.removeClass("btn-success")
            statusButton.addClass("btn-danger")
            icon.css("color", "red");
          }
          else if(response.message.toLowerCase().includes("active")){
            statusButton.text("Active")
            statusButton.removeClass("btn-danger");
            statusButton.addClass("btn-success");
            icon.css("color", "#56B6F7");
          }
         
          Swal.fire({
            icon: response.tags,
            title: response.message,
            showConfirmButton: true,
            confirmButtonClass: 'btn btn-success'
        });
        
        
        
        }
    });
    }
});
});





</script>

{% endblock %}