.avoid-in-print {
    display: none !important;
}

#main {
    margin-left: 0px !important;
}

.sidebar-wrapper {
    display: none !important;
}

#multiple-column-form {
    width: 100% !important;
}

@page {
    margin: 20mm 10mm 10mm 20mm;
}