{% extends "sellerBase.html" %}
{% load static %}

{% block extralinks %}
{% comment %} yet to be done {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static "js/address_entry.js" %}"></script>
  <style>
    input, select{
        height: 3rem;
    }
    {% comment %} for shifting header to left {% endcomment %}
    .left-shift{
        margin-left:-23px;
    }
    .up-shift{
        margin-top:-20px;
    }
  </style>
{% endblock extralinks %}

{% block content %}
<div class="page-heading mt-0">
  <h3 style="text-align: center; position: relative;">My Profile 
  </h3>
</div>

<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h4 class="card-title">My Information</h4>
          <div><b class="text-danger" >Note</b><span class="font-bold"> :- All asterisk (*) field is mandatory.</span></div>
        </div>
        <div class="card-content up-shift">
          <div class="card-body">
              <form class="form" action="{% url "seller_profile" %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">

                    <div class="col-md-4 col-12 mt-3">
                        <div class="card border p-3" style="width: 90%;">
                            <div class="img_container mx-auto mt-3" style="border-radius:50%; width: 120px; height:120px; overflow:hidden;">
                                <img class="img-fluid" {% if request.user.userprofile.profile_photo %}
                                    src="{{request.user.userprofile.profile_photo.url}}"
                                {% else %}
                                 src="{% static "seller/images/profile_photo.png" %}"
                                 {% endif %}
                                  alt="Profile Photo">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    {% if request.user.full_name %}
                                    {{request.user.full_name}}
                                    {% else %}
                                    Not Available
                                    {% endif %}
                                </h5>
                                <p class="card-text text-center">{{request.user.get_role}}</p>
                                <div class="social-media text-center">
                                    <a href="{{seller.seller_facebook_url}}" target="_blank" class="btn btn-secondary rounded-circle" style="width: 30px; height:30px; display: inline-flex; justify-content: center; align-items: center; text-decoration: none;"><i class="fab fa-facebook-f"></i></a>
                                    <a href="{{seller.seller_twitter_url}}"  target="_blank" class="btn btn-secondary rounded-circle" style="width: 30px; height:30px; display: inline-flex; justify-content: center; align-items: center; text-decoration: none;"><i class="fab fa-twitter"></i></a>
                                    <a href="{{seller.seller_youtube_url}}" target="_blank" class="btn btn-secondary rounded-circle" style="width: 30px; height:30px; display: inline-flex; justify-content: center; align-items: center; text-decoration: none;"><i class="fab fa-youtube"></i></a>
                                    <a href="{{seller.seller_linkedin_url}}" target="_blank" class="btn btn-secondary rounded-circle" style="width: 30px; height:30px; display: inline-flex; justify-content: center; align-items: center; text-decoration: none;"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
             

                    
                  <div class="col-md-8 col-12 mt-3">
                    <div class="card-header bg-primary rounded py-3 left-shift">
                        <h3 class="card-title text-white">Personal Details</h3>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-12 mt-3">
                            <div class="form-group">
                                <label for="brand">First Name<font class="text-danger"> *</font></label>
                                <input required  type="text" id="seller_name" class="form-control"
                                placeholder="Seller Name" name="seller_first_name" value="{{request.user.first_name}}">
                            </div>
                          </div>
                        <div class="col-md-6 col-12 mt-3">
                            <div class="form-group">
                                <label for="brand">Last Name<font class="text-danger"> *</font></label>
                                <input required  type="text" id="seller_name" class="form-control"
                                placeholder="Seller Name" name="seller_last_name" value="{{request.user.last_name}}">
                            </div>
                          </div>
      
                        <div class="col-md-6 col-12 mt-3">
                            <div class="form-group">
                                <label for="username">Username<font class="text-danger"> *</font></label>
                                <input required  type="text" id="username" class="form-control"
                                placeholder="Username" name="username" value="{{request.user.username}}">
                                <span class="text-danger mt-1" id="span" style="font-size:14px; float: right;"></span>
                            </div>
                          </div>
                        <div class="col-md-6 col-12 mt-3">
                            <div class="form-group">
                                <label for="brand">Email<font class="text-danger"> *</font></label>
                                <input required  type="email" id="seller_name" class="form-control"
                                placeholder="Seller Name" name="seller_email" value="{{request.user.email}}" readonly>
                            </div>
                          </div>
                        <div class="col-md-6 col-12 mt-3">
                            <div class="form-group">
                                <label for="brand">Phone Number<font class="text-danger"> *</font></label>
                                <input required  type="text" id="seller_name" class="form-control"
                                placeholder="Phone Number" name="seller_phone_number" value="{{request.user.phone_number}}">
                            </div>
                          </div>
      
                      </div>
                </div>
                 

            

                <div class="card-header bg-primary rounded py-3">
                    <h3 class="card-title text-white">Business Details</h3>
                </div>


                <div class="row mb-3">
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="business_name">Business Name<font class="text-danger"> *</font></label>
                            <input required  type="text" id="business_name" class="form-control"
                                placeholder="Business Name" name="business_name"
                                value="{{seller.seller_name}}">
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="gstno">GST NO.<font class="text-danger"> *</font></label>
                            <input required  type="text" id="gstno" class="form-control"
                                placeholder="GST NO. Keeping Unit" name="gstno" 
                                {% if seller.seller_gst_no %}
                                value="{{seller.seller_gst_no}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-3">
                        <div class="form-group">
                            <label for="business_address">Business Location<font class="text-danger"> *</font></label>
                            <input required  type="text" id="business_address" class="form-control"
                                placeholder="Business Address" name="business_address" 
                                {% if seller.get_full_address %}
                                value="{{seller.get_full_address}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                                <span class="text-danger" style="font-size:14px;">*Note:- Location should be like this - Street, City, District, State, Country, Pincode</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="website_url">Business Website Url</label>
                            <input required  type="text" id="website_url" class="form-control"
                                placeholder="Business Website Url" name="website_url" 
                                {% if seller.seller_website_url %}
                                value="{{seller.seller_website_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div><div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="facebook_url">Facebook Url</label>
                            <input required  type="text" id="facebook_url" class="form-control"
                                placeholder="Facebook Url" name="facebook_url" 
                                {% if seller.seller_facebook_url %}
                                value="{{seller.seller_facebook_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div><div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="twitter_url">Twitter Url</label>
                            <input required  type="text" id="twitter_url" class="form-control"
                                placeholder="Twitter Url" name="twitter_url" 
                                {% if seller.seller_twitter_url %}
                                value="{{seller.seller_twitter_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="instagram_url">Instagram Url</label>
                            <input required  type="text" id="instagram_url" class="form-control"
                                placeholder="Instagram Url" name="instagram_url" 
                                {% if seller.seller_instagram_url %}
                                value="{{seller.seller_instagram_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="youtube_url">Youtube Url</label>
                            <input required  type="text" id="youtube_url" class="form-control"
                                placeholder="Youtube Url" name="youtube_url" 
                                {% if seller.seller_youtube_url %}
                                value="{{seller.seller_youtube_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="linkedin_url">LinkedIn Url</label>
                            <input required  type="text" id="linkedin_url" class="form-control"
                                placeholder="LinkedIn Url" name="linkedin_url" 
                                {% if seller.seller_linkedin_url %}
                                value="{{seller.seller_linkedin_url}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>
                </div>
                     
                <div class="card-header bg-primary rounded py-3">
                    <h3 class="card-title text-white">Business Bank Details</h3>
                </div>

                
                <div class="row mb-3">
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="bank_name">Bank Name<font class="text-danger"> *</font></label>
                            <input required  type="text" id="bank_name" class="form-control"
                                placeholder="Seller Bank Name" name="bank_name"
                                value="{{seller.seller_bank_name}}">
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="account_no">Account No.<font class="text-danger"> *</font></label>
                            <input required  type="text" id="account_no" class="form-control"
                                placeholder="Account Number" name="account_no" 
                                {% if seller.seller_bank_account_no %}
                                value="{{seller.seller_bank_account_no}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="ifsc_code">IFSC Code<font class="text-danger"> *</font></label>
                            <input required  type="text" id="ifsc_code" class="form-control"
                                placeholder="Business Address" name="ifsc_code" 
                                {% if seller.seller_bank_ifsc %}
                                value="{{seller.seller_bank_ifsc}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="account_type">Account Type<font class="text-danger"> *</font></label>
                            <input required  type="text" id="account_type" class="form-control"
                                placeholder="Account Type" name="account_type" 
                                {% if seller.seller_bank_acc_type %}
                                value="{{seller.seller_bank_acc_type}}"
                                {% else %}
                                value="Not Available"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mt-3">
                        <div class="form-group">
                            <label for="accepted_payment_method">Accepted Payment Method<font class="text-danger"> *</font></label>
                            <select name="accepted_payment_method" class="form-select" id="accepted_payment_method" multiple>
                                <option value="{{seller.seller_payment_methods}}">{{seller.seller_payment_methods}}</option>
                                <option value="Online">Online</option>
                                <option value="Cash_on_delivery">Cash On Delivery</option>
                                <option value="Debit_card">Debit Card</option>
                                <option value="Credit_card">Credit Card</option>
                            </select>
                        </div>
                    </div>
                </div>
    </div>

    <div class="card-header bg-primary rounded py-3">
        <h3 class="card-title text-white">Upload Details</h3>
    </div>
  <div class="row mb-3">
        <div class="col-md-4 col-12 mt-3">
            <div class="form-group">
                <label for="profile_photo">Profile Photo</label>
                <input  type="file" name="profile_photo" id="profile_photo" class="form-control" accept="image/*">
            </div>
        </div>
        
        <div class="col-md-4 col-12 mt-3">
            <div class="form-group">
                <label for="cover_photo">Cover Photo</label>
                <input  type="file" name="cover_photo" class="form-control" id="cover_photo" accept="image/*">
            </div>
        </div>

        <div class="col-md-4 col-12 mt-3">
            <div class="form-group">
                <label for="business_logo">Business Logo</label>
                <input   type="file" name="business_logo" class="form-control" id="business_logo" accept="image/*">
            </div>
        </div>

        <div class="col-md-4 col-12 mt-3">
            <div class="form-group">
                <label for="gst_license">GST License Photo</label>
                <input   type="file" name="gst_license" class="form-control" id="gst_license" accept="image/*">
            </div>
        </div>

                    
                    
                </div>
  
                <div class="col-12 d-flex gap-4 justify-content-center mb-3 mt-3">
                    <button type="submit" id="submit_btn"
                        class="btn btn-success me-1 mb-1 mt-3"><i class="fa-solid fa-check"></i> &nbsp;Update Profile</button>
                    <button type="reset"
                        class="btn btn-light-secondary me-1 mb-1 mt-3"><i class="fa-solid fa-rotate"></i> &nbsp;Reset</button>
                    
                </div>
        

              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    $(document).ready(function() {
        const p_username = $("#username").val();
        $("#username").on("keyup",function(){
            username = $("#username").val();
            if(username != p_username){
                $.ajax({
                    url: "{% url 'seller_profile' %}",  
                    type: "GET",
                    data: {
                        username: username,
                    },
                    success: function(response) {
                        if(response.status == 'found'){
                            $("#username").closest('.form-group').find('span').text(response.message);
                        }else{
                            $("#username").closest('.form-group').find('span').text("");
                        }
                    },
                    error: function(xhr) {
                        $('#response').html('An error occurred: ' + xhr.responseText);
                    }
                });
            }
        });

        $("form").on("submit",function(e){
            span = $("#span").text()
            if((span != '')){
                Swal.fire({
                    icon: 'error',
                    title: 'Username Already Exists',
                    showConfirmButton: true,
                    confirmButtonClass: 'btn btn-success'
                });
                return false;
            }
        })

    })
</script>

<script>
    function previewImage(event) {
        const imagePreview = document.getElementById('image_preview');
        imagePreview.src = URL.createObjectURL(event.target.files[0]);
        imagePreview.style.display = 'block';
    }
</script>



{% endblock %}